*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", serif;
    background-color: #eafaf1;
}

header{
    padding: 45px 370px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1fe374;
    list-style: none;
}

.menu a{
    color: #00ad6a;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    font-size: 15px;
}

header img{
    margin-right: 435px;
}

.menu li button{
    color: #00ad6a;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    border: #00ad6a solid 2px;
    font-size: 15px;
    padding: 8px 20px;
    background-color: #eafaf1;
}

#texto1{
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    margin: 0 670px;
}

#texto2{
    text-align: center;
    font-size: 18px;
    margin: 10px 640px;
    word-spacing: 2px;
    border: 1px solid red;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    border: 1px solid red;
}

.quadrado1{
    width: 280px;
    height: 480px;
    margin-top: 100px;
    margin-left: 100px;
    word-spacing: 2px;
    border: 1px solid red;

}

.quadrado1 h1{
    color: #00ad6a;
    font-size: 20px;
    margin-bottom: 20px;
}
.quadrado1 ul li{
    margin-top: 10px;
    word-spacing: 2px;
    margin-left: 25px;
    
}

.quadrado1 p{
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;
    margin-left: 15px;
}

.quadrado1 p a{
    color: black;
}